body {
    font-family: "Roboto", "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
}

.container {
    width: inherit;
    height: 100vh;
}

.sidenav {
    background: linear-gradient(69deg, #38627b, #132e45);
    width: 180px;
}