<div class="account">
  <div class="block-20"></div>

  <div class="user-information">
    <img class="photo" src="assets/images/Rick.png">
    <div class="user-name">
      <p>User Name</p>
    </div>
  </div>

  <div class="account-navigation">
    <span class="caption">MY ACCOUNT
      <i class="material-icons">keyboard_arrow_down</i>
    </span>
  </div>

  <div class="block-20"></div>
</div>


<div class="block-20">
  <p class="caption">MAIN</p>
</div>


<div class="sidebar">
  <rp-side-menu-item *ngFor="let menuItem of mainMenuItems" [menuItem]="menuItem" (onitemSelect)="onClick($event)"></rp-side-menu-item>
</div>

<div class="block-10"></div>
<div class="block-20">
  <p class="caption">SETTINGS</p>
</div>


<div class="sidebar">
  <rp-side-menu-item *ngFor="let menuItem of settingsMenuItems" [menuItem]="menuItem" (onitemSelect)="onClick($event)"></rp-side-menu-item>
</div>